.register-container {
    background-image: url('../../assets/imgs/shoes-background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50rem;
    padding: 3rem;
    .register-wrapper {
        display:flex;
        flex-direction:  column;
        background-color: #fff;
        width: 60%;
        margin: 0 auto;
        // height: 80%;
        padding: 2rem 4rem 4rem;
        border-radius: 10px;
        box-shadow: 0 0 40px rgba($color: #000000, $alpha: 0.2);
        h1 {
            text-align: center;
            font-size: 3rem;
        }
        .register-form {
            display:flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-bottom: 1rem;
            div {
                margin-top: 1.2rem;
            }
            label {
                margin-right: 1rem;
            }
            input {
                padding: 8px 10px;
                border-radius: 6px;
                border: 1px solid #b1aeae;
                margin: 0.5rem 0;
                outline: none;
                width: 90%;
            }
            .register-left, .register-right {
                width: 50%;
            }
            
            .register-gender {
                margin-top: 40px;
                display: flex;
                align-items: center;                
                input {
                    padding: 20px;
                    width: 30px;
                }
            }
        }
        .register-agree {
            display:flex;
            align-items: center;
            span {
                font-size: 1rem;
            }
        }
        .btn-sign-up {
            margin: 2rem 0 1rem;
            padding: 1rem;
            background-image: linear-gradient(to right, #a5f7c6, #fbd786, #f7797d);
            border: none;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.2);
            cursor: pointer;
            font-weight: 600;
            font-size: 1.8rem;
            color: #000000;
            transition: 0.3s linear;
            &:hover {
                box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.4);
            }
        }
    }
}