@font-face {
  font-family: Inter;
  src: url(./assets/fonts/Inter-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: Inter;
  src: url(./assets/fonts/Inter-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Inter;
  src: url(./assets/fonts/Inter-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Inter;
  src: url(./assets/fonts/Inter-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: Inter;
  src: url(./assets/fonts/Inter-Bold.ttf);
  font-weight: 700;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
}

h1 {
  margin: 0;
}

li {
  list-style: none;
}

.error-message {
  margin: 0;
  font-size: 13px;
  color: red;
}